.ListBox {
    width: 200px;
    height: 250px;
    border-radius: 20px;
    box-shadow: -3px 3px 3px black;
    margin: 50px 10px 10px 10px;
    background-color: white;
}

.Title {
    border-bottom: 1px solid red;
}

.Content {
    border-bottom: 1px solid red;
}

.ListBoX-Container {
    display: flex;
}